*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Inter',sans-serif;
background:#050505;
color:#fff;
overflow-x:hidden;
}

.hero{
position:relative;
min-height:100vh;
display:flex;
justify-content:center;
align-items:flex-start;
overflow:hidden;
}

.hero-image{
position:absolute;
inset:0;
width:100%;
height:100%;
object-fit:cover;
object-position:center top;
filter:brightness(.38);
}

.overlay{
position:absolute;
inset:0;
background:linear-gradient(
180deg,
rgba(0,0,0,.10) 0%,
rgba(0,0,0,.30) 25%,
rgba(0,0,0,.55) 55%,
rgba(0,0,0,.88) 100%
);
}

.content{

position:relative;

z-index:2;

width:90%;

max-width:430px;

text-align:center;

padding-top:35px;

}

.logo{

width:118px;
height:118px;

margin:auto;

border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

border:2px solid #D6B17A;

color:#D6B17A;

font-family:'Cormorant Garamond',serif;

font-size:58px;

background:rgba(0,0,0,.18);

backdrop-filter:blur(12px);

box-shadow:0 0 25px rgba(214,177,122,.22);

margin-bottom:18px;

}

h1{

font-family:'Cormorant Garamond',serif;

font-size:60px;

line-height:1;

margin-bottom:8px;

text-shadow:0 3px 20px rgba(0,0,0,.6);

}

.subtitle{

font-size:13px;

letter-spacing:6px;

color:#D6B17A;

margin-bottom:240px;

}

.buttons{

display:flex;

flex-direction:column;

gap:18px;

}
.btn{

display:flex;
justify-content:space-between;
align-items:center;

padding:18px 22px;

background:rgba(20,20,20,.28);

backdrop-filter:blur(18px);

border:1px solid rgba(214,177,122,.45);

border-radius:999px;

text-decoration:none;

color:white;

transition:
transform .18s ease,
background .35s ease,
box-shadow .35s ease;

box-shadow:0 10px 30px rgba(0,0,0,.30);

}

.btn:hover{

background:rgba(35,35,35,.42);

transform:translateY(-2px);

box-shadow:0 0 28px rgba(214,177,122,.28);

}

.btn:active{

transform:scale(.97);

box-shadow:0 0 18px rgba(214,177,122,.45);

}

.btn-left{

display:flex;

align-items:center;

gap:16px;

}

.icon{

width:46px;

height:46px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:22px;

flex-shrink:0;

}

.onlyfans{

background:#ffffff;

}

.onlyfans img{

width:30px;

height:30px;

object-fit:contain;

display:block;

}

.telegram{

background:#27A7E7;

color:white;

}

.instagram{

background:linear-gradient(
135deg,
#FEDA75,
#FA7E1E,
#D62976,
#962FBF,
#4F5BD5
);

color:white;

}

.snapchat{

background:#FFFC00;

color:black;

}

.btn span{

font-size:18px;

font-weight:600;

letter-spacing:.3px;

}

.btn-arrow{

color:#D6B17A;

font-size:14px;

opacity:.75;

}

@media(max-width:480px){

.logo{

width:105px;
height:105px;

font-size:50px;

}

h1{

font-size:48px;

}

.subtitle{

margin-bottom:210px;

}

.btn{

padding:16px 18px;

}

.icon{

width:42px;
height:42px;

font-size:20px;

}

.btn span{

font-size:17px;

}

}
